@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}

img {
	max-width: 100%;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

header {
	border-bottom: 1px solid #f1f5f9;
	position: sticky;
	top: 0;
	z-index: 2;
	background-color: #fff;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0;
}

.header .menu-nav {
	display: flex;
	list-style: none;
	gap: 20px;
}

.menu-responsive {
	display: none;
}

.menu-nav li a {
	text-decoration: none;
	color: #334155;
	font-size: 16px;
	padding: 10px 16px;
	border-radius: 100px;
}

.menu-nav li a:hover {
	background-color: #f1f5f9;
}

.menu-hamburger {
	display: none;
	font-size: 30px;
	color: #374151;
	cursor: pointer;
}

.container-productos-relacionados {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 58px 0;
    border-top: 1px solid #e1e1e1;
}

.cards-productos-relacionados {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.card-producto-relacionado {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 30px;
    cursor: pointer;
    flex: 1;
}

.card-producto-relacionado .image-product {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.button-group {
    position: absolute;
    bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0 10px;
    translate: 0 50px;
    transition: all 0.3s ease-in-out;
}

.btn-add-to-bag,
.btn-quick-view {
    font-family: inherit;
    padding: 8px 16px;
    border: none;
    outline: none;
    border-radius: 500px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 700;
    font-size: 10px;
    box-shadow: 0 10px 25px #00000040;
}

.btn-add-to-bag {
    background-color: #0f172a;
    color: #fff;
}

.btn-quick-view {
    color: #334155;
    background-color: #fff;
}

.card-producto-relacionado .image-product:hover .button-group {
    translate: 0;
}

.card-producto-relacionado .image-product img {
    object-fit: cover;
    height: 340px;
    width: 100%;
}

.image-product::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #87aadc;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.1;
}

.card-producto-relacionado .info-product {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card-producto-relacionado .container-title {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.card-producto-relacionado .container-title h4 {
    font-size: 16px;
    line-height: 24px;
}

.card-producto-relacionado .container-title p {
    font-size: 14px;
    color: #475569;
}

.card-producto-relacionado .container-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-producto-relacionado .container-price span {
    border: 2px solid #22c55e;
    color: #22c55e;
    border-radius: 8px;
    font-size: 14px;
    padding: 6px 10px;
    font-weight: 700;
}

.card-producto-relacionado .container-price p {
    color: #475569;
}

.card-producto-relacionado .container-price p i {
    color: #eab308;
}


footer {
    border-top: 1px solid #e1e1e1;
    padding: 100px 0 90px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 70px 1fr;
}

.footer .logo {
    grid-column: 1/2;
    grid-row: 1/2;
}

.container-social {
    grid-row: 2/-1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-social a {
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: capitalize;
}

.youtube i {
    color: #da0000;
}

.facebook i {
    color: #4676ed;
}

.telegram i {
    color: #32a9df;
}

.twitter i {
    color: #5a99ec;
}

.container-social a span {
    color: #374151;
}

.user-footer ul,
.container-policies ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user-footer ul li,
.container-policies ul li {
    list-style: none;
}

.user-footer ul li a,
.container-policies ul li a {
    text-decoration: none;
    color: #4b5563;
}

.user-footer ul li a:hover,
.container-policies ul li a:hover {
    color: #000;
}

#overlay {
    background-color: #00000050;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    display: none;
}



.category-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    gap: 20px; /* Espacio entre tarjetas */
}

.card-category {
    width: 400px;       /* Anchura más grande para que se vean mejor horizontalmente */
    height: 250px;      /* Altura mayor para que se note la imagen */
    border-radius: 15px;
    padding: 20px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Efecto al pasar el cursor */
.card-category:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.card-category p {
    margin: 0;
    font-size: 1.4em;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
}

.card-category li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    transition: background-color 0.3s;
}

.card-category li a:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Fondos personalizados para cada tarjeta */
.category-premium {
    background-image: url('fotitos/linea\ redken\ \ completa.jpg');
}

.category-eventos {
    background-image: url('fotitos/OLAPLEXXXXXXXX.jpg');
}

.category-plus {
    background-image: url('fotitos/linea\ completa\ kerastase\ genesis.jpg');
}


.category-basicos {
    background-image: url('fotitos/LINEAa.jpeg');
}
